
mixin dropdown(dropdownOptions)

  - var guestValues= [{descr: 'взрослые', class: ' adultCounter'}, {descr: 'дети', class: ' childCounter'}, {descr: 'младенцы', class: ' babyCounter'}];
  - var roomValues= [{descr: 'спальни', class: ' bedroomCounter'}, {descr: 'кровати', class: ' bedCounter'}, {descr: 'ванные комнаты', class: ' bathCounter'}];
  - var counterClsName= 'dropdown__counter';

    case dropdownOptions.dropdownType
      when 'guest'
        .dropdown__title= dropdownOptions.title
        div(class="dropdown dropdown_guest")
          .dropdown__input 
              .dropdown__subtitle Сколько гостей
              span.dropdown__expand-more
          .dropdown__block()
            each value in guestValues
              .dropdown__item 
                .dropdown__descr= value.descr
                .dropdown__container
                  button(class='dropdown__button dropdown__minus dropdown__gray-btn' type='button') -
                  - counterClsName += value.class
                  div(class= counterClsName) 0
                  button(class='dropdown__button dropdown__plus' type='button') +
            .dropdown__btn-block
              button(type='button' hidden).dropdown__clear-btn Очистить
              button(type='button').dropdown__submit-btn Применить
      when 'room'
        .dropdown__title= dropdownOptions.title
        div(class="dropdown dropdown_room")
          div(class="dropdown__input dropdown__input_room")
              div(class="dropdown__subtitle dropdown__subtitletitle_room") Выберите удобства
              span(class="dropdown__expand-more icon-expand_more")
          div(class="dropdown__block dropdown__block_room" hidden)
            each value in roomValues
              .dropdown__item 
                .dropdown__descr= value.descr
                .dropdown__container
                  button(class='dropdown__button dropdown__minus dropdown__gray-btn' type='button') -
                  - counterClsName += value.class
                  div(class= counterClsName) 0
                  button(class='dropdown__button dropdown__plus' type='button') +



