.input {
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding-left: 14px;
  color: rgba(31, 32, 65, 0.75);

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 5px;
  }

  &__filter-container {
    width: 266px;
  }

  &_filter {
    width: 100%;
    background: transparent;
  }

  &__block {
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  &__datepicker {
    margin-top: 5.5px;
    position: absolute;
    left: -100000px;
    z-index: 100;
    opacity: 0;
    transition: all 0.5s;
  }

  &__datepicker_active {
    opacity: 1;
    left: auto;
  }
}

.input::-moz-placeholder {
    color: rgba(31, 32, 65, 0.25) /* Цвет подсказывающего текста */
   }
.input::-webkit-input-placeholder {color: rgba(31, 32, 65, 0.25)}
.input:-ms-input-placeholder { color: rgba(31, 32, 65, 0.25)}
.input::-ms-input-placeholder {color: rgba(31, 32, 65, 0.25)}
.input::placeholder {color: rgba(31, 32, 65, 0.25)} 

.input:hover::-moz-placeholder {color: rgba(31, 32, 65, 0.25)}
.input:hover::-webkit-input-placeholder {color: rgba(31, 32, 65, 0.75)}
.input:hover:-ms-input-placeholder { color: rgba(31, 32, 65, 0.75)}
.input:hover::-ms-input-placeholder {color: rgba(31, 32, 65, 0.75)}
.input:hover::placeholder {color: rgba(31, 32, 65, 0.75)} 

.input__date::-moz-placeholder {
  color: rgba(31, 32, 65, 0.75) /* Цвет подсказывающего текста */
 }
.input__date::-webkit-input-placeholder {color: rgba(31, 32, 65, 0.75)}
.input__date:-ms-input-placeholder { color: rgba(31, 32, 65, 0.75)}
.input__date::-ms-input-placeholder {color: rgba(31, 32, 65, 0.75)}
.input__date::placeholder {color: rgba(31, 32, 65, 0.75)}

.input:focus, .input:hover {
  outline: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.input__date {
  font-size: 14px;
  background: transparent;
  width: 150px;
}

.input_subscribe {
  width: 100%;
}

.input__title_date::after{
  z-index: -1;
  float: right;
  position: relative;
  top: 35px;
  left: -16px;
  font-family: 'Icomoon', sans-serif;
  font-size: 8px;
  content: "\e900";
  font-weight: normal;
  color: rgba(31, 32, 65, 0.25);
}

.subscribe { 
  &__btn {
    height: 2em;
    width: 2em;
    padding: 0;
    position: relative;
    float: right;
    top: -35px;
    border: none;
    background: #FFFFFF;
    margin-right: 13px;
  }
}

.subscribe__btn::after {
  float: right;
  position: relative;
  font-family: 'Icomoon', sans-serif;
  font-size: 19px;
  content: "\e901";
  font-weight: normal;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
}

@media (max-width: 991px) {

}
  
@media (max-width: 767px) {

}

@media (max-width: 450px) {
  .input__container {
    width: 45%;
  }

  .input__date {
    width: 100%;
    padding-left: 7px;
  }

  .input__datepicker {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .input__datepicker {
    left: 0;
    width: 100%;
  }
}