.rate-button {
    display: flex;
    width: 120px;
    justify-content: space-between;

    &__star {
        &::before {
            font-family: 'Icomoon', sans-serif;
            font-size: 20px;
            content: '\e90e';
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #BC9CFF;
        }
    }

    &__border-star {
        &::before {
            font-family: 'Icomoon', sans-serif;
            font-size: 20px;
            content: '\e90d';
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #BC9CFF;
        }
    }
}

