mixin rate-button(starsCount)
  -
    var emptyStarsCount = 5 - starsCount;

  .rate-button
    - for (var i = 0; i < starsCount; i++)
      +star
    - for (var i = 0; i < emptyStarsCount; i++)
      +border-star

mixin star

  .rate-button__star

mixin border-star

  .rate-button__border-star