.rate-button {
    display: flex;
    width: 120px;
}

.stars {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 1px;
    width: 120px;
    padding-top: 2px;
    img {
        position: relative;
        left: -1px;
        visibility: visible;
    }
}
