mixin radio-buttons(radioOptions)

    label.custom-radio
        input(type='radio' name='gender' value='Мужчина').reg__checkbox
        span= radioOptions.firstDescr
    label.custom-radio
        input(type='radio' name='gender' value='Женщина').reg__checkbox 
        span= radioOptions.secondDescr