include ../search-item/search-item
include ../logo/logo

mixin colors-and-types

    .colors-and-types 
        +logo_gray
        .colors-and-types__wrapper
            .colors-and-types__colors-block
               +colors-item('#1F2041', 'Dark Shade 100%')
               +colors-item('rgba(31, 32, 65, 0.75)', 'Dark Shade 75%')
               +colors-item('rgba(31, 32, 65, 0.5)', 'Dark Shade 50%')
               +colors-item('rgba(31, 32, 65, 0.25)', 'Dark Shade 25%')
               +colors-item('rgba(31, 32, 65, 0.05)', 'Dark Shade 5%')
               +colors-item('#BC9CFF', 'Purple', '#BC9CFF')
               +colors-item('#6FCF97', 'Green', '#6FCF97')
            .colors-and-types__types-block
                .types-item 
                    div(class='types-item__tag types-item__tag_h1') h1
                    div(class='types-item__descr types-item__descr_h1') This one is the sub-section or widget title
                .types-item 
                    div(class='types-item__tag types-item__tag_h2') h2
                    div(class='types-item__descr types-item__descr_h2') Next one is the item title inside widgets
                .types-item 
                    div(class='types-item__tag types-item__tag_h3') h3
                    div(class='types-item__descr types-item__descr_h3') This is a label or CTA text
                .types-item 
                    div(class='types-item__tag types-item__tag_body') body
                    div(class='types-item__descr types-item__descr_body') This is the body text which is used for most of the design, like paragraphs, lists, etc.
                




mixin colors-item(backgroundColor, title, subtitle= '#1F2041')

    .colors-item
        .colors-item__color-preview(style={background: backgroundColor})
        .colors-item__container
            .colors-item__title= title
            .colors-item__subtitle= subtitle


