.sign-in {
  width: 380px;
  height: 358px;
  padding: 40px 30px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__input-container {
    margin-bottom: 10px;
  }

  &__reg-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    p {
    font-size: 14px;
    padding-top: 10px;
    margin-right: 34px;
    }
  }

  &__btn-container {
    margin-top: 20px;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .sign-in {
    padding: 20px 15px 15px 15px;
    height: auto;
    width: 90%;
    .input {
      width: 100%;
    }

    &__reg-container {
      margin-top: 20px;
      p {
        margin-right: 0px;
        padding-top: 0;
      }
    }
  }
}