include ../buttons/buttons

mixin sign-in
    .sign-in
        .sign-in__wrapper
            .sign-in__form
                .sign-in__title Войти
                input(type="text" value='Email')
                input(type="text" value='Пароль')
                +button('btn btn_sign-in', 'войти')
                .sign-in__container
                    p Нет аккаунта на Toxin?
                    +button('btn', 'Создать')