.landing {
  background: url('./main_page_bg.jpg') center (center / cover) no-repeat;
  position: relative;
  padding-top: 70px;
  &__wrapper {
    position: relative;
    width: 1160px;
    height: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 297px;
    height: 48px;
    h2 {
      font-size: 14px;
      line-height: 24px;
      text-align: right;
      color: rgba(31, 32, 65, 0.75);
      font-weight: normal;
    }
  
  }
}


@media (max-width: 1160px) {
  .landing {
    padding-top: 40px;
      &__wrapper {
          height: 100vh;
          width: 95%;
          padding-left: 20px;
          padding-right: 20px;
      }
      &__subtitle {
        right: 20px;
      }
    }
  }
  
@media (max-width: 767px) {
  .landing {
    &__subtitle {
      display: none;
    }
  }
}

@media (max-width: 575px) {
}