include ../search-form/search-form

mixin landing-page
  section.landing
    .landing__wrapper
      +search-block
      .landing__subtitle
          h2 Лучшие номера для вашей работы, отдыха и просто вдохновения
