mixin like-button(likeBtnOptions)

    case likeBtnOptions.isSelected
        when true 
            button(class= 'like-button like-button_selected')
                div(class="icon icon-favorite")
                p= likeBtnOptions.likeCount
        when false 
            button(class= 'like-button')
                div(class="icon icon-favorite_border")
                p= likeBtnOptions.likeCount