.like-button {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  padding: 3px;
  padding-left: 4px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  text-align: center;
  padding-right: 11px;
  &:before {
    font-family: 'icomoon', sans-serif;
    font-size: 8px;
    content: "\e90b";
    }
  
  &:focus {
    outline: none;
  }

  &:hover {
    border: 1px solid #BC9CFF;
    color: #BC9CFF;
  }

  &_selected {
    border: 1px solid #BC9CFF;
    color: #BC9CFF;
    &:before {
      content: "\e90a";
    }
  }
}
