include ../rate-button/rate-button

mixin search-item(roomNumber, roomPrice, isLux, isLarge, starsCount)

    .search-item
        .search-item__slider
            img(src="/src/components/search-item/image.jpg", alt="room")
        .search-item__block
            +search-item__room-number(roomNumber, roomPrice, isLux, isLarge)
            .search-item__divider
            .search-item__container
                +rate-button
                .search-item__room-reviews <span>145</span> отзывов

mixin search-item__room-number(roomNumber, roomPrice, isLux, isBooking)
    -
        var clsNameLux = 'search-item__lux'
        var clsNameRoom = 'search-item__room'
        var clsNameRoomNbr = 'search-item__room-number'
        var clsNameRoomPrice = 'search-item__room-price'
        clsNameLux += isLux ? '' : ' hidden'
        clsNameRoom += isBooking ? ' increaseLineHeight' : ''
        clsNameRoomPrice += isBooking ? ' increaseLineHeight' : ''
        clsNameLux += isBooking ? ' increaseLineHeight' : ''
        clsNameRoomNbr += isBooking ? ' large' : ''
    .search-item__container
        div(class= clsNameRoom) № 
            p(class= clsNameRoomNbr) #{roomNumber}
            div(class = clsNameLux) люкс
        div(class= clsNameRoomPrice) <span>#{roomPrice}₽</span> в сутки
    

