mixin search-item(roomNumber, roomPrice, isLux, isLarge, starsCount)
    -
        var i = 0
        var n = 0
        var emptyStarsCount = 5 - starsCount;

    .search-item
        .search-item__slider
            img(src="/src/components/search-item/image.jpg", alt="room")
        .search-item__block
            +search-item__room-number(roomNumber, roomPrice, isLux, isLarge)
            .search-item__divider
            .search-item__container
                .search-item__room-rating
                    while i < starsCount
                        .stars= i++
                            +rating-star
                    while n < emptyStarsCount
                        .stars= n++
                            +empty-star
                .search-item__room-reviews <span>145</span> отзывов

mixin search-item__room-number(roomNumber, roomPrice, isLux, isBooking)
    -
        var clsNameLux = 'search-item__lux'
        var clsNameRoom = 'search-item__room'
        var clsNameRoomNbr = 'search-item__room-number'
        var clsNameRoomPrice = 'search-item__room-price'
        clsNameLux += isLux ? '' : ' hidden'
        clsNameRoom += isBooking ? ' increaseLineHeight' : ''
        clsNameRoomPrice += isBooking ? ' increaseLineHeight' : ''
        clsNameLux += isBooking ? ' increaseLineHeight' : ''
        clsNameRoomNbr += isBooking ? ' large' : ''
    .search-item__container
        div(class= clsNameRoom) № 
            p(class= clsNameRoomNbr) #{roomNumber}
            div(class = clsNameLux) люкс
        div(class= clsNameRoomPrice) <span>#{roomPrice}₽</span> в сутки
    

mixin rating-star

    img(src="/src/components/search-item/star.svg", alt='star')

mixin empty-star

    img(src="/src/components/search-item/star_border.svg", alt='empty_star')