
.btn {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  transition: opacity 0.75s;
  padding: 2px;
  outline: none;
  &:focus {
    outline: none;
  }

  &_arrow {
    width: 100%;
    height: 44px;
    border: none;
    color: #FFFFFF;
    padding-right: 13px;
    padding-left: 30px;
    &::after {
      font-family: 'Icomoon', sans-serif;
      font-weight: normal;
      font-size: 17px;
      content: "\e901";
      float: right;
    }
  }

  &_border {
    position: relative;
    $border: 2px;
    color: #BC9CFF;
    background: #FFF;
    background-clip: padding-box; /* !important */
    border: solid $border transparent; /* !important */

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !important */
      border-radius: inherit; /* !important */
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  &_border_toggled {
    &::before {
      opacity: 0.5;
    }
  }
}

.no-border-btn {
  padding: 0;
  display: inline-block;
  border: none;
  background: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  color: #BC9CFF;
  text-transform: uppercase;
  transition: color 0.5s;
}



