
.btn {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  transition: opacity 0.75s;
  padding: 2px;
  outline: none;
  &:focus {
    outline: none;
  }

  &_entry {
    height: auto;
    width: 87px;
    div {
      line-height: 30px;
    }
  }

  &_reg {
    height: auto;
    width: 196px;
  }

  &_arrow {
    width: 100%;
    height: 44px;
    border: none;
    color: #FFFFFF;
    padding-right: 13px;
    padding-left: 30px;
    &::after {
      font-family: 'Icomoon', sans-serif;
      font-weight: normal;
      font-size: 17px;
      content: "\e901";
      float: right;
    }
  }

  &_border {
    position: relative;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &__container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit; 
    color: #BC9CFF;
    background: #FFF;
    background-clip: padding-box; 
    border: solid 2.5px transparent; 
    line-height: 39px;
  }

  &_border_toggled {
    background: rgba(188, 156, 255, .5);
  }
}

.no-border-btn {
  padding: 0;
  display: inline-block;
  border: none;
  background: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  color: #BC9CFF;
  text-transform: uppercase;
  transition: color 0.5s;
}



