mixin button(btnOptions)

  case btnOptions.btnType
    when "border"
      button(class= 'btn btn_border')= btnOptions.name
    when "arrow"
      button(class= 'btn btn_arrow')= btnOptions.name
    when "noBorder"
      button(class= 'no-border-btn')= btnOptions.name
    default
      button(class= 'btn')= btnOptions.name
      