.expandable-checkbox {
  &__btn {
    width: 100%;
    font-weight: bold;
    color: #1F2041;
    font-size: 12px;
    line-height: 14px;
    border: none;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    &::after {
      float: right;
      font-family: 'icomoon', sans-serif;
      content: "\e900";
      color: rgba(31, 32, 65, 0.5);
      font-size: 8px;
      margin-right: 16px;
    }

    
  }

  &__container {
    margin-bottom: 10px;
  }

  &__btn_up::after {
    content: '\e915';
  }

  &__block {
    padding-top: 17.4px;
  }
}