mixin expandable-checkbox(expandableOptions)
  -
    var checkboxTextArr= ['Завтрак', 'Письменный стол', 'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь']
  .expandable-checkbox
    .expandable-checkbox__btn= expandableOptions.descr
    .expandable-checkbox__block(hidden)
      each item in checkboxTextArr
        +checkbox({checkboxText: item})
