.room-details-item {
  display: flex;
  padding-top: 20px;
  width: 280px;
  height: 89px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  span {
    font-weight: bold;
  }
  &__descr {
    font-weight: normal;
  }
  &::before {
    padding-top: 15px;
    padding-left: 4px;
    margin-right: 15px;
    font-family: 'icomoon', sans-serif;
    font-size: 40px;
    font-weight: normal;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #BC9CFF;
  }

  &_comfort::before {
    content: "\e907";
  }

  &_windows::before {
    content: "\e906";
  }

  &_fireplace::before {
    content: "\e905";
  }
}
