mixin room-details-item(itemName)

  case itemName
    when 'comfort'
      div(class= 'room-details-item room-details-item_comfort')
        div
          span Комфорт
          p Шумопоглощающие стены
    when 'windows'
      div(class= 'room-details-item room-details-item_windows')
        div
          span Удобство
          p Окно в каждой из спален
    when 'fireplace'
      div(class= 'room-details-item room-details-item_fireplace')
        img(src="/src/components/room-details/whatshot.svg", alt="fire")
        div
          span Уют
          p Номер оснащен камином