mixin room-details-item(itemName)

  case itemName
    when 'comfort'
      div(class= 'room-details-item room-details-item_comfort')
        div
          span Комфорт
          p.room-details-item__descr Шумопоглощающие стены
    when 'windows'
      div(class= 'room-details-item room-details-item_windows')
        div
          span Удобство
          p.room-details-item__descr Окно в каждой из спален
    when 'fireplace'
      div(class= 'room-details-item room-details-item_fireplace')
        div
          span Уют
          p.room-details-item__descr Номер оснащен камином