.promo {
    background: url('/src/components/promo/main\ page\ bg.jpg') center (center / cover) no-repeat;
    position: relative;
    height: 830px;
    padding-top: 70px;
    &__wrapper {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}


.subtitle {
    position: relative;
    top: 692px;
    width: 297px;
    height: 48px;
    h2 {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: rgba(31, 32, 65, 0.75);
        font-weight: normal;
    }

}