include ../search-form/search-form

mixin promo
    .promo
        .promo__wrapper
            +search-block
            .subtitle
                h2 Лучшие номера для вашей работы, отдыха и просто вдохновения
