.booking {
  width: 380px;
  height: 511px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);

  &__calculate {
    margin-top: 18px;
    height: 181px;
    line-height: 24px;
  }

  &__search-container {
    margin-bottom: 13px;
  }

  &__dropdown-container {
    margin-top: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__service-charge-sale {
    margin-left: 0.3em;
  }


  &__info {
    grid-area: i1;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
  }
  
  &__service-charge {
    grid-area: service-charge;
    margin-right: 5px;
  }

  &__service-charge-price {
    grid-area: service-charge-price;
    text-align: right;
  }

  &__add-services {
    grid-area: add-services;
    line-height: 19px;
  }

  &__info2 {
    grid-area: i2;
  }

  &__add-services-price {
    grid-area: add-services-price;
    text-align: right;
  }

  &__grid-container {
    display: grid;
    grid-template-areas:
    'service-charge i1 service-charge-price'
    'add-services i2 add-services-price';
    grid-template-columns: 1fr 20px 25%;
    row-gap: 10px;
  }

  &__service-charge-block {
    flex-wrap: wrap;
    display: flex;
  }

  &__divider {
    display: flex;
    flex: 1 1 auto;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px dotted rgba(31, 32, 65, 0.25);
  }

  &__result-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 29px;
    margin-bottom: 20px;
  }

  &__result, &__total-sum {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }
}

.info-block {
  position: fixed;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
  padding: 2px 5px 2px 5px;
}

@media (max-width: 450px) {
  .booking {
    padding: 20px 15px 15px 15px;
    height: auto;
    &__calculate {
      line-height: 1.5;
      height: auto;
      margin-bottom: 20px;
    }

    &__result-block {
      margin-top: 0;
    }

    &__grid-container {
      grid-template-columns: 70% 20px 1fr;
    }
  }
}