include ../search-item/search-item
include ../search-form/search-form
include ../buttons/buttons

mixin booking
    .booking
        +search-item__room-number('888', '9 900', true)
        +search-form
        .booking__calculate
            .booking__container
                .booking__price 9 990₽ х 4 суток 
                .booking__total-price 39960₽
            .booking__container
                .booking__service-charge Сбор за услуги: скидка 2179₽
                    .booking__info i
                .booking__service-charge-price 0₽
            .booking__container
                .booking__add-services Сбор за дополнительные услуги
                    .booking__info i
                .booking__add-services-price 300₽
            .booking__result
                span Итого
                .booking__divider
                .booking__total-sum
                    span 38 081₽
        +buttonArrow('btn btn_arrow', 'забронировать')

        