mixin range-slider(sliderOptions)

  .range-slider
    .range-slider__title= sliderOptions.title
      .range-slider__range
        .range-slider__bottom 0₽ - 
        .range-slider__top 16 000₽
    .range-slider__scale
    div(class= 'range-slider__point range-slider__point_start')
    div(class= 'range-slider__point range-slider__point_finish')
    .range-slider__scale_colored