.range-slider {
  width: 266px;
  height: 47px;
  margin: 0;
  &__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 20px;
  }

  &__range {
    font-weight: normal;
    display: flex;
  }

  &__top {
    margin-left: 0.3em;
  }

  &__scale {
    z-index: 0;
    width: 266px;
    height: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
  }

  &__scale_colored {
    z-index: 1;
    position: relative;
    top: -38px;
    width: 266px;
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    display: flex;
    border-radius: 3px;
  }

  &__point {
    z-index: 2;
    position: relative;
    top: -5.5px;
    width: 16px;
    height: 16px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
  }

  &__point_start {
    left: -8px;
    top: -11px;
  }

  &__point_finish {
    top: -27px;
    left: 258px;
  }
}