mixin logo
    .logo
        img.logo__item(src='/src/components/logo/logo.svg', alt="logo")
        img.logo__name(src='/src/components/logo/TOXIN.svg', alt="Toxin")

mixin logo_gray
    .logo_gray
        img(src="/src/components/logo/logo_gray.svg", alt="logo_gray")
