mixin logo
  a(href="#").logo
    img.logo__item(src="./img/logo.svg", alt="logo")
    img.logo__name(src="./img/TOXIN.svg", alt="Toxin")

mixin logo_gray
  .logo_gray
    img(src="./img/logo_gray.svg", alt="logo_gray")
