.logo {
    display: flex;
    align-items: center;
    &__name {
        margin-left: 12.5px;
    }

    &_gray {
        width: 1440px;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 30px;
    }
}

