.cards {
    background: #E5E5E5;

    &__wrapper {
        width: 1160px;
        margin: 0 auto;
        padding-top: 72px;
        display: flex;
    }
    &__container {
        margin-top: 40px;
    }

    &__block {
        margin-right: 40px;

    }
}