mixin calendar(dates)
    -
        var attributes = {};
    -   attributes.class="datepicker-here";
        

    .calendar
        form.calendar__form
            input&attributes(attributes)
            button.calendar__btn Применить
