.search-page {
    padding-bottom: 75px;
    font-size: 14px;
    color:rgba(31, 32, 65, 0.5);

    &__wrapper {
        width: 1160px;
        margin: 0 auto;
        display: flex;
    }

    &__container {
        width: 846px;
        margin-left: 60px;
        margin-top: 30px;
    }

    &__block {
        margin-top: 21px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        row-gap: 20.5px;
        column-gap: 10px;
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1F2041;
    }

    &__page-number {
        display: flex;
        justify-content: center;
        transform: translate(-0.9%);
        margin-top: 42px;
    }

}