include ../room-filter/room-filter
include ../search-item/search-item

mixin search-page

  section.search-page
    .search-page__wrapper
      +button({btnStyle: 'border', name: 'показать фильтры', clsName: ' show-filter'})
      +filter
      .search-page__container
        .search-page__title Номера, которые мы для вас подобрали
        .search-page__block
          +search-item({
            roomNumber: '888',
            isLux: true,
            roomPrice: '9990',
            reviewsCount: 145,
            src: '/src/components/search-item/888.jpg',
            starsCount: 5,
          })
          +search-item({
            roomNumber: '840',
            roomPrice: '9900',
            reviewsCount: 65,
            src: '/src/components/search-item/840.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '980',
            isLux: true,
            roomPrice: '8500',
            reviewsCount: 35,
            src: '/src/components/search-item/980.jpg',
            starsCount: 3,
          })
          +search-item({
            roomNumber: '856',
            roomPrice: '7300',
            reviewsCount: 19,
            src: '/src/components/search-item/856.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '740',
            roomPrice: '6000',
            reviewsCount: 44,
            src: '/src/components/search-item/740.jpg',
             starsCount: 4,
          })
          +search-item({
            roomNumber: '982',
            roomPrice: '5800',
            reviewsCount: 56,
            src: '/src/components/search-item/982.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '678',
            roomPrice: '5500',
            reviewsCount: 45,
            src: '/src/components/search-item/678.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '450',
            roomPrice: '5300',
            reviewsCount: 39,
            src: '/src/components/search-item/450.jpg',
             starsCount: 4,
          })
          +search-item({
            roomNumber: '350',
            roomPrice: '5000',
            reviewsCount: 77,
            src: '/src/components/search-item/350.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '666',
            roomPrice: '5000',
            reviewsCount: 25,
            src: '/src/components/search-item/666.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '444',
            roomPrice: '5000',
            reviewsCount: 15,
            src: '/src/components/search-item/444.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '352',
            roomPrice: '5000',
            reviewsCount: 55,
            src: '/src/components/search-item/352.jpg',
             starsCount: 3,
          })

        .search-page__page-number
          +pagination