include ../room-filter/filter
include ../search-item/search-item

mixin search_page

    .searching
        +filter
        .searching__wrapper
            .searching__title Номера, которые мы для вас подобрали
            .searching__block
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
                +search-item
            .searching__page-number 1 2 3 ... 15
                .searching__variants-count 1-12 из 100+ вариантов аренды