include ../components/header/header
include ../components/reg-section/reg-section
include ../components/footer/footer

doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel="icon", href="favicon.ico" type='image/ico')
    title Toxin
  body
    +header({})
    +reg-section({})
    +footer