.searching {
    height: 1385px;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 846px;
        margin-left: 48px;
        margin-top: 30px;
    }

    &__block {
        margin-top: 21px;
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-left: 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #1F2041;
    }

    &__page-number {
        margin-top: 41px;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__variants-count {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}