.room-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__gallery {
    margin: 0 auto;
  }
  &__wrapper {
    padding-top: 70px;
    display: grid;
    margin: 0 auto;
    width: 1160px;
    grid-template-areas:
    'room-details diagram booking'
    'reviews reviews booking'
    'rules cancel booking';
    grid-template-columns: 31% 1fr 380px;
  }

  

  &__block {
    grid-area: room-details;
    & .room-details-item:last-child {
      border-bottom: none;
    }
    & div:first-child {
      margin-bottom: 0;
    }
  }

  &__container {
      display: flex;
  }
  &__container1 {
      display: flex;
      flex-direction: column;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
    margin-bottom: 20px;
    &_rules {
      margin-left: 19px;
      margin-bottom: 18px;
    }
  }

  &__diagram {
    grid-area: diagram;
  }

  &__reviews {
    position: relative;
    grid-area: reviews;
    padding-top: 11px;
    & .room-review__item:last-child {
      margin-bottom: 33px;
    }
      p {
        position: absolute;
        margin: 0;
        top: 19px;
        right: 0;
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
      }
    
  }

  &__rules {
    grid-area: rules;
  }

  &__cancel {
    grid-area: cancel;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__booking {
    grid-area: booking;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
}