.room-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__gallery {
    margin: 0 auto;
    display: flex;
  }

  &__background {
    z-index: 1000;
    position: fixed;
    display: none;
    background: rgba(31, 32, 65, 0.75);
    width: 100%;
    height: 100vh;
    top: 0;
  }

  &__background_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background-close {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 0.5s all;
      &:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
      }		
      &:nth-child(2) {
        transform: translateY(-3px) rotate(45deg);
      }
    }
  }

  &__background-close_active {
    width: 20px;
    span {
      background-color:rgba(31, 32, 65, 1) ;
    }
  }

  &__gallery-item_active {
    width: 80%;
  }
 

  &__wrapper {
    padding-top: 70px;
    display: grid;
    margin: 0 auto;
    width: 1160px;
    grid-template-areas:
    'room-details diagram booking'
    'reviews reviews booking'
    'rules cancel booking';
    grid-template-columns: 31% 1fr 380px;
  }

  &__block {
    grid-area: room-details;
    & .room-details-item:last-child {
      border-bottom: none;
    }
    & div:first-child {
      margin-bottom: 0;
    }
  }

  &__container {
    display: flex;
  }
  &__gallery-container {
    display: flex;
    flex-direction: column;
  
  }

  &__subtitle {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
    margin-bottom: 20px;

    &_rules {
      margin-left: 19px;
      margin-bottom: 18px;
    }
  }

  &__diagram {
    margin-right: 29px;
    &-container {
      display: flex;
    }
    &-block {
      grid-area: diagram;
      ul {
        margin-top: 27px;
        width: 0;
      }
      li {
        margin-bottom: 0;
      }
      li::before {
        margin-right: 5px;
      }
    }
  }

  &__reviews {
    position: relative;
    grid-area: reviews;
    padding-top: 11px;
    width: 91%;
    & .room-review__item:last-child {
      margin-bottom: 33px;
    }
      p {
        position: absolute;
        margin: 0;
        top: 19px;
        right: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        text-align: right;
        color: rgba(31, 32, 65, 0.5);
      }
    
  }

  &__rules {
    grid-area: rules;
  }

  &__cancel {
    grid-area: cancel;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }

  &__booking {
    grid-area: booking;
  }
}

.show-booking {
  display: none;
}

.chart {
  width: 120px;
  height: 120px;
}
.unit {
  fill: none;
  stroke-width: 1;
}

.unit:nth-child(1) {
  stroke-dasharray: 49 100;
  stroke-dashoffset: -25.5
}

.unit:nth-child(2) {
  stroke-dasharray: 24 100;
  stroke-dashoffset: 48.5;
}

.unit:nth-child(3) {
  stroke-dasharray: 24 100;
  stroke-dashoffset: -0.5;
}

.chart-text {
  font-size: 16;
  fill: #BC9CFF;;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.chart-number {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4em;
  line-height: 1;
  font-weight: bold;
  text-anchor: middle;
  -moz-transform: translateY(-0.68em);
  -ms-transform: translateY(-0.68em);
  -webkit-transform: translateY(-0.68em);
  transform: translateY(-0.68em);
}
.chart-label {
  font-size: 0.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.2em);
  -ms-transform: translateY(0.2em);
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}

@media (max-width: 1160px) {
  .room-details {
    &__wrapper{
      width: 95%;
    }

    &__gallery{
      width: 95%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1050px) {
  .room-details {
    &__wrapper {
      padding-top: 50px;
      justify-content: space-between;
      grid-template-areas:
      'room-details booking'
      'diagram booking'
      'reviews reviews'
      'rules cancel';
      grid-template-columns: 1fr 1fr;
    }
    &__booking {
      display: flex;
      justify-content: flex-end;
    }

    &__reviews {
      margin-top: 30px;
    }
  }
}

@media (max-width: 767px) {
  .room-details {
    &__wrapper {
      padding-top: 15px;
      grid-template-areas:
      'booking booking'
      'room-details diagram'
      'reviews reviews'
      'rules cancel';
    }
    &__booking {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }

    &__reviews {
      margin-top: 30px;
      width: 100%;
    }
    &__gallery-item_active {
      width: 100%;
    }

  }

  .show-booking {
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .booking {
    display: none;
  }

  .booking_dropdown {
    display: block;
  }
}

@media (max-width: 670px) {
  .room-details {
    &__wrapper {
      display: block;
    }

    &__gallery {
      display: block;
    }

    &__container {
      margin-bottom: 5px;
    }

    &__gallery-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      img {
        width: 50%;
        padding-right: 5px;
      }
      img:last-child {
        padding-right: 0;
      }
    }

    &__diagram-container {
      align-items: center;
      ul {
        margin: 0;
      }
    }
    &__diagram {
      margin-right: 3%;
    }
  }
}

@media (max-width: 415px) {
  .room-details {
    &__subtitle {
      p {
        position: relative;
        text-align: start;
        top: auto;
      }
    }
  }
}