include ../booking/booking
include ../like-button/like-button
include ../room-details-item/room-details-item
include ../bullet-list/bullet-list

mixin room-details

  section.room-details
    .room-details__gallery
      .room-details__container
        img(src="/src/components/room-details/image.jpg", alt="")
        .room-details__container1
          img(src="/src/components/room-details/image\ 2.jpg", alt="")
          img(src="/src/components/room-details/image\ 3.jpg", alt="")
    .room-details__wrapper
      .room-details__block
        .room-details__subtitle Сведения о номере
        +room-details-item('comfort')
        +room-details-item('windows')
        +room-details-item('fireplace')
      .room-details__diagram-block
        .room-details__subtitle Впечатления от номера
        .room-details__diagram-container
          .room-details__diagram
            <svg class="chart" viewBox="0 0 33 33">
              <circle class="unit" stroke='url(#gold)' r="15.9" cx="50%" cy="50%"></circle>
              <circle class="unit" stroke='url(#purple)' r="15.9" cx="50%" cy="50%"></circle>
              <circle class="unit" stroke='url(#green)'r="15.9" cx="50%" cy="50%"></circle>
              <linearGradient id="gold" x1="0" y1="0" x2="0" y2="95%">
                <stop offset="0%" stop-color="#FFE39C"/>
                <stop offset="100%" stop-color="#FFBA9C"/>
              </linearGradient>
              <linearGradient id="purple" x1="0" y1="0" x2="0" y2="95%">
                <stop offset="0" stop-color="#BC9CFF"/>
                <stop offset="100%" stop-color="#8BA4F9"/>
              </linearGradient>
              <linearGradient id="green" x1="100%" y1="100%" x2="0" y2="100%">
                <stop offset="0" stop-color="#6FCF97"/>
                <stop offset="100%" stop-color="#66D2EA"/>
              </linearGradient>
              <g class="chart-text">
                <text x="50%" y="50%" class="chart-number">260</text>
                <text x="50%" y="50%" class="chart-label">голосов </text>
              </g>
            </svg>
          +bullet-list({style: 'colored'})
      .room-details__reviews
        .room-details__subtitle Отзывы посетителей номера
          p 2 отзыва
        +room-review({
          avatarSrc: "/src/components/room-review/avatar1.jpg",
          likeCount: 11,
          authorName: 'Мурад Сарафанов',
          reviewDate: '5 дней',
          reviewDescr: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })
        +room-review({
          avatarSrc: "/src/components/room-review/avatar2.jpg",
          likeCount: 2,
          authorName: 'Патрисия Стёклышкова',
          reviewDate: 'Неделю',
          reviewDescr: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.'
        })
      .room-details__rules
        div(class='room-details__subtitle room-details__subtitle_rules').room-details__subtitle Правила
        +bullet-list({listItems: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
      .room-details__cancel
          .room-details__subtitle Отмена
          p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details__booking
        +booking