include ../booking/booking
include ../like-button/like-button

mixin room-details

    .room-details
        .room-details__gallery
            .room-details__container
                img(src="/src/components/room-details/image.jpg", alt="")
                .room-details__container1
                    img(src="/src/components/room-details/image\ 2.jpg", alt="")
                    img(src="/src/components/room-details/image\ 3.jpg", alt="")
        .room-details__wrapper
            .room-details__block
                .room-details__container
                    .room-details
                        .room-details__subtitle Сведения о номере



                    .room-details__diagram
                        .room-details__subtitle Впечатления от номера
                        img(src="", alt="")
                        ul
                            li Великолепно
                            li Хорошо
                            li Удовлетворительно
                            li Разочарован
                .reviews
                    .reviews__subtitle Отзывы посетителей номера
                        p 2 отзыва
                    

                .room-details__container
                    .room-details__rules
                        .room-details__subtitle Правила
                        ul
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия — после 13:00, а выезд до 12:00
                    .room-details__cancel
                        .room-details__subtitle Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            +booking