include ../booking/booking
include ../like-button/like-button

mixin room-details

    .room-details
        .room-details__gallery
            .room-details__container
                img(src="/src/components/room-details/image.jpg", alt="")
                .room-details__container1
                    img(src="/src/components/room-details/image\ 2.jpg", alt="")
                    img(src="/src/components/room-details/image\ 3.jpg", alt="")
        .room-details__wrapper
            .room-details__block
                .room-details__container
                    .room-details
                        .room-details__subtitle Сведения о номере
                            .room-details__item
                                img(src="/src/components/room-details/insert_emoticon.svg", alt="smile")
                                div
                                    span Комфорт
                                    p Шумопоглощающие стены
                            .room-details__item
                                img(src="/src/components/room-details/location_city.svg", alt="city")
                                div
                                    span Удобство
                                    p Окно в каждой спальне
                            .room-details__item
                                img(src="/src/components/room-details/whatshot.svg", alt="fire")
                                div
                                    span Уют
                                    p Номер оснащен камином


                    .room-details__diagram
                        .room-details__subtitle Впечатления от номера
                        img(src="", alt="")
                        ul
                            li Великолепно
                            li Хорошо
                            li Удовлетворительно
                            li Разочарован
                .reviews
                    .reviews__subtitle Отзывы посетителей номера
                        p 2 отзыва
                    .reviews__item
                        .reviews__container
                            img.reviews__avatar(src="/src/components/room-details/avatar1.jpg", alt="avatar")
                            +like-button({isSelected: true, likeCount: 12})
                        .reviews__block
                            .reviews__name Мурад Сарафанов
                            .reviews__review-date 5 дней назад
                            .reviews__descr Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                    .reviews__item
                        .reviews__container
                            img.reviews__avatar(src="/src/components/room-details/avatar2.jpg", alt="avatar")
                            +like-button({isSelected: false, likeCount: 2})
                        .reviews__block
                            .reviews__name Патрисия Стёклышкова
                            .reviews__review-date Неделю назад
                            .reviews__descr Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент

                .room-details__container
                    .room-details__rules
                        .room-details__subtitle Правила
                        ul
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия — после 13:00, а выезд до 12:00
                    .room-details__cancel
                        .room-details__subtitle Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            +booking