include ../buttons/buttons

mixin search-block

    .search-room
        h1.search-room__title Найдём номера под ваши пожелания
        form.search-room__form
            +search-form
            +buttonArrow('btn btn_arrow', 'Подобрать номер')
 
mixin search-form
    .search-room__wrapper
        .search-room__container
            span Прибытие
            input(type="date").search-room__date-arrival
        .search-room__container
            span Выезд
            input(type="date").search-room__date-departure
    span Гости
    select.search-room__guests 
        option(disabled selected) Сколько гостей
        option Взрослые
        option Дети
        option Младенцы
        