include ../input/input
include ../dropdown/dropdown
include ../buttons/buttons

mixin search-block

  .search-room
    h1.search-room__title Найдём номера под ваши пожелания
    form().search-room__form
      .search-room__block1
        +input({
          inputType: 'range-date',
          firstTitle: 'прибытие',
          secondTitle: 'выезд',
          name: 'date',
        })
      +dropdown({
        dropdownType: 'guest',
        title: 'гости',
      })
      .search-room__block2
        +button({
          btnStyle: 'arrow',
          name: 'подобрать номер',
        })
        
