include ../logo/logo
include ../buttons/buttons

mixin header(headerOptions)
  -
    var headerLinks = [
      {name: 'О нас', src: '#'},
      {name: 'Услуги', src: '#'},
      {name: 'Вакансии', src: '#'},
      {name: 'Новости', src: '#'},
      {name: 'Соглашения', src: '#'},
      ];
  
  section.header
    .header__wrapper
      .header__hamburger
        span
        span
        span
      +logo  
      .menu
        case headerOptions.headerVersion
          when 'registred'
            ul(class= 'menu__list')
              each item in headerLinks
                li(class= 'menu__item')
                  a(href= item.src class= 'menu__link')= item.name
            .menu__divider
            .menu__block
              a(href='#' class= 'menu__account') Юлий Цезарь
          default
            ul(class= 'menu__list')
              each item in headerLinks
                li(class= 'menu__item')
                  a(href= item.src class= 'menu__link')= item.name
            .menu__buttons
              +button({btnStyle: 'border', clsName: ' btn_entry', name: 'Войти'})
              +button({clsName: ' btn_reg', name: 'зарегистрироваться'})

