include ../logo/logo
include ../buttons/buttons

mixin header
    
    .header
        .header__wrapper
            +logo  
            .menu
                ul.menu__list
                    li.menu__item
                        a.menu__link О нас
                    li.menu__item
                        a.menu__link Услуги
                        img(src='/src/components/header/expand_more.svg')
                    li.menu__item
                        a.menu__link Вакансии
                    li.menu__item
                        a.menu__link Новости
                    li.menu__item
                        a.menu__link Соглашения
                        img(src='/src/components/header/expand_more.svg')
                .menu__buttons
                    +button('btn btn_entry', 'Войти')
                    +button('btn btn_reg', 'Зарегистрироваться')