.header {
    position: relative;
    background-color: #ffff;
    &__wrapper {
        width: 1160px;
        margin: 0 auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}



.menu {
    display: flex;
    &__list{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-right: 20px;
        img {
           padding-left: 10px;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 33px;
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
    }

    &__buttons{
        display: flex;
    }
}




