.header {
  position: relative;
  background-color: #ffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__wrapper {
    width: 1160px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hamburger {
    display: none;
  }
}



.menu {
  display: flex;
  &__list{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__list li:first-child{
    font-weight: bold;
  }

  &__list li:nth-child(2):after, li:nth-child(5):after{
    margin-left: 7px;
    font-family: 'icomoon', sans-serif;
    content: "\e900";
    font-size: 8px;
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
  }

  &__list li:nth-child(3){
    margin-right: 20px;
  }

  &__item {
    margin-right: 24px;
  }

  &__link {
    font-size: 14px;
    line-height: 33px;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
  }

  &__link:hover {
    color: rgba(31, 32, 65, 0.5);
  }

  &__buttons {
    width: 304px;
    height: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 20px;
  }

  &__block {
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    line-height: 33px;
  }

  &__account {
    color: rgba(31, 32, 65, 0.5);
    &:hover {
      color: rgba(31, 32, 65, 0.5);
    }
  }

  &__profile {
    display: none;
    border: none;
    background: #ffff;
    &::before{
      font-family: 'icomoon', sans-serif;
      content: '\e972';
      font-size: 20px;
      color: #BC9CFF;
    }
  }
}


@media (max-width: 1160px) {
  .header {
    &__wrapper {
      width: 95%;
    }
  }

  .menu {
    margin-left: 13px;
    &__item {
      margin-right: 10px;
    }

    &__link {
      font-size: 12px;
    }

    &__list li:nth-child(2):after, li:nth-child(5):after {
      margin-left: 2%;
    }

    &__list li:nth-child(3){
      margin-right: 10px;
    }

    &__buttons {
      margin-left: 13px;
      width: 39.5%;
    }
  }
}

@media (max-width: 767px) {
  .menu {
    &__buttons {
      display: none;
    }
    &__profile {
      display: block;
    }
  }
}

@media (max-width: 575px) {

  .header {
    &__wrapper {
      height: 50px;
      justify-content: space-between;
    }

    &__hamburger {
      display: block;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 12px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin-bottom: 4px;
        transition: 0.5s all;
      }
    }

    &__hamburger_active {
      z-index: 2;
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }		
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }

    }
  }  
  .menu {
    flex: auto;
    justify-content: flex-end;
    margin-left: 0;
    &__list {
      position: absolute;
      left: -10000px;
      transition: left 0.5s;
    }

    &__list_active {
      z-index: 1;
      width: 50vw;
      padding-top: 70px;

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(31, 32, 65, 0.10);
      height: 100vh;
    }
    &__list li:first-child{
      font-weight: normal;
    }
  
    &__list li:nth-child(2):after, li:nth-child(5):after{
      content: "";
      margin: 0;
    }

    &__link {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 2.5;
    }
    
    &__buttons {
      display: none;
    }
    &__profile {
      display: block;
      
    }
  }
}


