include ../buttons/buttons
include ../calendar/calendar
include ../radio-buttons/radio-buttons
include ../toggle/toggle

mixin reg-form

    .reg
        .reg__title Регистрация аккаунта
        form.reg__form
            input(type="text", name="" value='Имя').reg__input
            input(type="text", name="" value='Фамилия').reg__input
            .reg__container
                +radio-buttons
            .reg__subtitle Дата рождения
            div(class= 'reg__input reg__input_margin-bottom')
                +calendar
            .reg__subtitle Данные для входа в сервис
            input(type="text", name="" value='Email').reg__input
            input(type="text", name="" value='Пароль').reg__input
            div(class= 'reg__container reg__container_spec-offer')
                +toggle
            +buttonArrow('btn btn_arrow', 'Перейти к оплате')
        .reg__sign-in
            div(class= 'reg__container reg__container_sign-in')
                p Уже есть аккаунт на Toxin
                +button('btn', 'Войти')