mixin checkbox(checkboxValue, checkboxName, checkboxText)

    .checkbox
        label.custom-checkbox
            input(type="checkbox" name= checkboxName value= checkboxValue) 
            span= checkboxText