include ../logo/logo
include ../input/input

mixin footer(footerVersion)
  -
    var navigationRu = ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
    var aboutUsRu = ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
    var supporRu = ['Соглашения', 'Сообщества', 'Связь с нами']
    var navigationEng = ['About Us', 'News', 'Support', 'Products']
    var aboutUsEng = ['Who we are', 'Our team', 'Careers', 'Investors']
    var supporEng = ['Documentation', 'Community', 'Get in Touch']

  +footer-min
  section.footer
    .footer__wrapper
      .footer__logo
        +logo
        h3 Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__container
        .footer__block
          .footer__subtitle Навигация
          each item in navigationRu
            a(href='#').footer__item= item
        .footer__block
          .footer__subtitle О нас
          each item in aboutUsRu
            a(href='#').footer__item= item
        .footer__block
          .footer__subtitle Служба поддержки
          each item in supporRu
            a(href='#').footer__item= item
        .footer__subscribe-block
          .footer__subtitle Подписка
          .footer__subscribe-descr Получайте специальные предложения и новости сервиса
          .footer__subscribe-input
            +input({
              inputType: 'subscribe',
              name: 'Email',
              placeholder: 'Email',
            })
    .footer__divider
    .footer__wrapper
      .footer__copyright-block
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        +social-links
                
mixin social-links

  .footer__links
    a(href='#' class='footer__link footer__link_twitter')
    a(href='#' class='footer__link footer__link_facebook')
    a(href='#' class='footer__link footer__link_instagram')


mixin footer-min

  section.footer-min
    +logo
    .footer-min__descr Copyright © 2018 Toxin отель. Все права защищены.
    +social-links