include ../logo/logo

mixin footer
    .footer
        .footer__wrapper
            .container
                .footer__logo
                    +logo
                    h3 Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__block
                    h4.footer__subtitle Навигация
                    a.footer__item О нас
                    a.footer__item Новости
                    a.footer__item Служба поддержки
                    a.footer__item Услуги
                .footer__block
                    h4.footer__subtitle О нас
                    a.footer__item О сервисе
                    a.footer__item Наша команда
                    a.footer__item Вакансии
                    a.footer__item Инвесторы
                .footer__block
                    h4.footer__subtitle Служба поддержки
                    a.footer__item Соглашения
                    a.footer__item Сообщества
                    a.footer__item Связь с нами
                .footer__block
                    h4.footer__subtitle Подписка
                    a.footer__item Получайте специальные предложения и новости сервиса
                    a.footer__item
                        form.footer__form
                            input(value='Email')
                            button
                                img(src='/src/components/footer/arrow_forward.svg')
        .footer__wrapper
            div.copyright
                h5 Copyright © 2018 Toxin отель. Все права защищены.
                .footer__links
                    a(href='#').footer__link
                        img(src='/src/components/footer/twi.svg')
                    a(href='#').footer__link
                        img(src='/src/components/footer/facebook.svg')
                    a(href='#').footer__link
                        img(src='/src/components/footer/instagram.svg')