.container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    height: 372px;
}


.footer {
    &__wrapper{
        width: 1160px;
        margin: 0 auto;
        position: relative;
    }
    h3 {
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    h4 {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
    &__logo {
        width: 260px;
    }
    &__block {
        display: flex;
        flex-direction: column;
    }

    &__item {
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.5);
    }
    &__links {
        :last-child {
            padding-right: 0;
        }
    }
    &__link {
        padding-right: 20px;
            img {
                height: 24px;
                width: 24px;
            }
    }
    &__form {
        input {
            width: 260px;
            height: 44px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            padding-left: 15px;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.25);
        }
        button {
            position: relative;
            left: -40px;
            border: none;
            background: #FFFFFF;
        }
        
    }

}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-top: 1px solid rgba(31, 32, 65, 0.75);
    h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(31, 32, 65, 0.75);
    }
}