include ../logo/logo
include ../input/input
include ../checkbox/checkbox
include ../radio-buttons/radio-buttons
include ../toggle/toggle
include ../like-button/like-button
include ../rate-button/rate-button
include ../range-slider/range-slider
include ../dropdown/dropdown
include ../expandable-checkbox/expandable-checkbox
include ../bullet-list/bullet-list
include ../room-details-item/room-details-item
include ../room-review/room-review
include ../pagination/pagination

mixin form-elements

  +logo_gray
  <span class="icon icon-star"></span>
  .form-elements
    div(class='form-elements__wrapper form-elements__wrapper_1')
      div(class='form-elements__block block1')
        .form-elements__input-container
          .form-elements__descr default
          +input({
            title: 'Text Field',
            name: 'email',
            placeholder: 'Email',
          })
        .form-elements__input-container
          .form-elements__descr Hover / Focus
          +input({
              title: 'Text Field',
              placeholder: 'This is pretty awesome',
            })
        .form-elements__input-container
          .form-elements__descr default
          +dropdown({dropdownType: 'guest', title: 'dropdown'})
        .form-elements__input-container
          .form-elements__descr default
          +input({
            title: 'masked text field',
            clsName: ' datepicker-here',
            name: 'date',
            placeholder: 'ДД.ММ.ГГГГ',
          })
        .form-elements__date-container
          +input({
          inputType: 'date',
          firstTitle: 'date Dropdown',
          secondTitle: 'date Dropdown',
          name: 'date',
        })
        .form-elements__date-container
          +input({
            inputType: 'filter-date',
            clsName: '',
            title: 'filter date dropdown',
            name: '',
            placeholder: 'Выберите даты проживания',
          })
        .form-elements__date-container
          .form-elements__subtitle subscription text field
          +input({
            inputType: 'subscribe',
            name: 'Email',
            placeholder: 'Email',
          })
          <input id="date" maxlength="10" type="text" />
      div(class='form-elements__block block2')
        .form-elements__container
          div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') Checkbox Buttons
          +checkbox({checkboxText: 'Можно курить'})
          +checkbox({checkboxText: 'Можно с питомцами'})
          +checkbox({checkboxText: 'Можно пригласить гостей (до 10 человек)'})
        .form-elements__container
          div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') Radio Buttons
          +radio-buttons({firstDescr: 'Мужчина', secondDescr: 'Женщина'})
        .form-elements__container
          div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') Toggle
          +toggle({descr: 'Получать спецпредложения '})
          +toggle({descr: 'Получать спецпредложения '})
        .form-elements__container
          div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') like button
          .form-elements__like-container
            .form-elements__like-container
              +like-button({isSelected: false, likeCount: 2})
            +like-button({isSelected: true, likeCount: 12})
        .form-elements__container
            div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') rate button
            .form-elements__stars-container
              .form-elements__stars-container
                +rate-button(4)
              +rate-button(5)
      div(class='form-elements__block')
        .form-elements__container
          +range-slider({title: 'Range Slider'})
        .form-elements__container
          div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') buttons
          .form-elements__btn-container
            +button({btnType: '', name: 'click me'})
            +button({btnType: '', name: 'click me'})
          .form-elements__btn-container
            +button({btnType: 'border', name: 'click me'})
            +button({btnType: 'border', name: 'click me'})
          .form-elements__btn-container
            +button({btnType: 'noBorder', name: 'click me'})
            +button({btnType: 'noBorder', name: 'click me'})
          +button({btnType: 'arrow', name: 'перейти к оплате'})
        div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') pagination
        +pagination
    div(class='form-elements__wrapper form-elements__wrapper_2')
      div(class='form-elements__block block1')
        div(class= 'form-elements__input-container form-elements__input-container_small')
          .form-elements__descr default
          +dropdown({dropdownType: 'room', title: 'dropdown'})
        div(class= 'form-elements__input-container form-elements__input-container_small')
          .form-elements__descr expanded 
          +dropdown({dropdownType: 'room', title: 'dropdown'})
      div(class='form-elements__block block2')
        +dropdown({dropdownType: 'guest', title: 'dropdown'})
      div(class='form-elements__block')       
        +dropdown({dropdownType: 'guest', title: 'dropdown'})
    div(class='form-elements__wrapper form-elements__wrapper_3')
      div(class='form-elements__block block1')
        +expandable-checkbox({descr: 'expandable checkbox list'})
        .form-elements__expandable-container
          +expandable-checkbox({descr: 'expandable checkbox list'})
      div(class='form-elements__block block2')
        div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') Rich Checkbox Buttons
        +checkbox({
          checkboxText: 'Ширина коридоров в номере не менее 91 см.', 
          isRich: true, 
          checkboxTitle: 'Широкий коридор'})
        +checkbox({checkboxText: 'На 1 этаже вас встретит специалист и проводит до номера.', 
          isRich: true,
          checkboxTitle: 'Помощник для инвалидов'})
      div(class='form-elements__block')
        div(class= 'form-elements__subtitle form-elements__subtitle_with-mr-bottom') Bullet list
        .form-elements__list-container
          +bullet-list(['Нельзя с питомцами', 
          'Без вечеринок и мероприятий', 
          'Время прибытия — после 13:00, а выезд до 12:00'])
    div(class='form-elements__wrapper form-elements__wrapper_4')
      div(class='form-elements__block block1')
        +room-details-item('comfort')
        +room-details-item('windows')
      div(class='form-elements__block review-block')
        +room-review({
          avatarSrc: "/src/components/room-details/avatar1.jpg",
          likeCount: 11,
          authorName: 'Мурад Сарафанов',
          reviewDate: '5 дней',
          reviewDescr: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })