.form-elements {
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 65px;

    &__wrapper {
        width: 1160px;
        height: 633px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper:nth-child(2) {
        margin-top: 100px;
        height: 320px;
    }

    &__wrapper:nth-child(3) {
        height: 345px;
    }

    &__block {
        width: 320px;
        .form-elements__container:nth-child(2) {
            margin-bottom: 37px;
        }
        .form-elements__container:nth-child(3) {
            margin-bottom: 35px;
        }

        .form-elements__input-container:nth-child(3){
            margin-bottom: 24px;
        }
    }

    &__container {
        margin-bottom: 40.88px;
    }

    &__like-container {
        display: flex;
        margin-right: 10px;
    }

    &__stars-container {
        display: flex;
        margin-right: 20px;
    }

    &__list-container {
        margin-top: -4px;
    }

    &__expandable-container {
        margin-top: 49px;
    }
    
    &__subtitle {
        width: 100%;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        p {
            margin: 0;
            font-weight: normal;
            text-transform: uppercase;
            color: rgba(31, 32, 65, 0.5);
        }
    }
    
    &__subtitle_with-mr-bottom {
        margin-bottom: 16.56px;
    }

    &__input-container {
        margin-bottom: 20px;
    }

    &__date-container{
        width: 320px;
        margin-top: 40px;
        
    }
}

.input {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding-left: 14px;
    color: rgba(31, 32, 65, 0.25);
}

.input_date {
    width: 150px;
}

.input:focus, .input:hover {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75)
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.block1 {
    margin-right: 126px;
}

.block2 {
    margin-right: 72px;
}

.review-block {
    padding-left: 40px;
    padding-top: 22px;
    width: auto;
}