.form-elements {
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 65px;
    &__wrapper {
        width: 1160px;
        margin: 0 auto;
    }

    &__block {
        padding-left: 448px;
        width: 750px;
        .form-elements__container:nth-child(2) {
            margin-bottom: 37px;
        }
        .form-elements__container:nth-child(3) {
            margin-bottom: 35px;
        }
    }

    &__container {
        margin-bottom: 40.88px;
    }

    &__like-container {
        display: flex;
        margin-right: 10px;
    }

    &__subtitle {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
        margin-bottom: 16.56px;
    }
    
}