include ./components/header/header
include ./components/promo/promo
include ./components/footer/footer
include ./components/registration/reg

doctype html
html(lang="en")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin
        link(rel="stylesheet" type="text/css" href="bootstrap-reboot.min.css")
    body
        +header
        //-
            +promo
        +reg
        +footer
    