include ./components/header/header
include ./components/landing/landing
include ./components/footer/footer
include ./components/reg-form/reg-form
include ./components/sign-in/sign-in
include ./components/search-page/search-page
include ./components/room-details/room-details
include ./components/reg-page/reg-page
include ./components/cards/cards
include ./components/colors-and-types/colors-and-types
include ./components/headers-and-footers/headers-and-footers
include ./components/form-elements/form-elements

doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Toxin
    link(rel="stylesheet" type="text/css" href="bootstrap-reboot.min.css")
  body
    +header({})
    //- +landing-page
    //- +reg-page({})
    //- +sign-in
    //- +search-page
    +room-details
    +footer
    //- +cards
    //- +colors-and-types
    //- +headers-and-footers
    //- +form-elements
