include ../../components/search-form/search-form
include ../../components/booking/booking
include ../../components/reg-form/reg-form
include ../../components/sign-in/sign-in
include ../../components/search-item/search-item
include ../../components/logo/logo

mixin cards

  .cards
    +logo_gray
    .cards__wrapper
      .cards__block
        +search-block
        .cards__container
          +reg-form
      .cards__block
        +booking
        .cards__container
          +sign-in
      .cards__block
        .datepicker-here('data-range'= 'true')
        .cards__container
          +search-item({
            src: "/src/components/search-item/888.jpg",
            roomNumber: '888',
            roomPrice: '9 990',
            isLux: true,
            starsCount: 5,
            reviewsCount: 145})
        .cards__container
          +search-item({
            src: "/src/components/search-item/840.jpg",
            roomNumber: '840',
            roomPrice: '9 900',
            starsCount: 4,
            reviewsCount: 65})

doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel="icon", href="favicon.ico" type='image/ico')
    title Toxin
  body
    +cards




                