.reg-page {
  position: relative;
  background: url('/src/components/reg-page/reg_bg.jpg') center (center / cover) no-repeat;
  &__wrapper {
    max-width: 380px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin: 0 auto;
    height: 684px;
    display: flex;
    &_sign-in {
      align-items: center;
    }
  }
}

@media (max-width: 380px) {
  .reg-page {
    &__wrapper {
      justify-content: center;
    }
  }
}