mixin room-review(reviewOptions)

    .room-review__item
      .room-review__container
        img.room-review__avatar(src= reviewOptions.avatarSrc, alt="avatar")
        .room-review__like-container
          +like-button({likeCount: reviewOptions.likeCount})
      .room-review__block
        .room-review__name= reviewOptions.authorName
        .room-review__review-date #{reviewOptions.reviewDate} назад
        .room-review__descr= reviewOptions.reviewDescr
    //- .room-review__item
    //-   .room-review__container
    //-     img.room-review__avatar(src="/src/components/room-details/avatar2.jpg", alt="avatar")
    //-     +like-button({likeCount: 2})
    //-   .room-review__block
    //-     .room-review__name Патрисия Стёклышкова
    //-     .room-review__review-date Неделю назад
    //-     .room-review__descr Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент