include ../room-filter/room-filter
include ../search-item/search-item
include ../pagination/pagination

mixin search-section

  section.search-section
    .search-section__wrapper
      +button({btnStyle: 'border', name: 'показать фильтры', clsName: ' show-filter'})
      +filter
      .search-section__container
        .search-section__title Номера, которые мы для вас подобрали
        .search-section__block
          +search-item({
            roomNumber: '888',
            isLux: true,
            roomPrice: '9990',
            reviewsCount: 145,
            src: './img/888.jpg',
            starsCount: 5,
          })
          +search-item({
            roomNumber: '840',
            roomPrice: '9900',
            reviewsCount: 65,
            src: './img/840.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '980',
            isLux: true,
            roomPrice: '8500',
            reviewsCount: 35,
            src: './img/980.jpg',
            starsCount: 3,
          })
          +search-item({
            roomNumber: '856',
            roomPrice: '7300',
            reviewsCount: 19,
            src: './img/856.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '740',
            roomPrice: '6000',
            reviewsCount: 44,
            src: './img/740.jpg',
             starsCount: 4,
          })
          +search-item({
            roomNumber: '982',
            roomPrice: '5800',
            reviewsCount: 56,
            src: './img//982.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '678',
            roomPrice: '5500',
            reviewsCount: 45,
            src: './img/678.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '450',
            roomPrice: '5300',
            reviewsCount: 39,
            src: './img/450.jpg',
             starsCount: 4,
          })
          +search-item({
            roomNumber: '350',
            roomPrice: '5000',
            reviewsCount: 77,
            src: './img/350.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '666',
            roomPrice: '5000',
            reviewsCount: 25,
            src: './img/666.jpg',
             starsCount: 5,
          })
          +search-item({
            roomNumber: '444',
            roomPrice: '5000',
            reviewsCount: 15,
            src: './img/444.jpg',
             starsCount: 3,
          })
          +search-item({
            roomNumber: '352',
            roomPrice: '5000',
            reviewsCount: 55,
            src: './img/352.jpg',
             starsCount: 3,
          })
        .search-section__page-number
          +pagination