include ../buttons/buttons

mixin reg

    .reg
        .reg__wrapper
            form.reg__form
                .reg__title Регистрация аккаунта
                input(type="text", name="" value='Имя')
                input(type="text", name="" value='Фамилия')
                .reg__container
                    input(type='checkbox' )
                    p Мужчина
                    input(type='checkbox' ) 
                    p Женщина
                p Дата рождения
                input
                p Данные для входа в сервис
                input(type="text", name="" value='Email')
                input(type="text", name="" value='Пароль')
                .reg__container
                    input(type='checkbox' )
                    p Получать спецпредложения
                +button('btn btn_accept-reg', 'Перейти к оплате')
            .reg__sign-in
                .reg__container
                    p Уже есть аккаунт на Toxin
                    +button('btn btn_entry', 'Войти')